body {
    background-image: url(background.jpeg);
    background-repeat: repeat
}

header {
}

.container {
	display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 900px;
    margin: 0 auto;
}

#logo {
    text-align: center;
}

#logo > h1{
    display:inline;
    text-shadow: 5px 5px 5px gray;
    font-family: 黑体;
}

#logo-img {
    width: 200px;
    height: 100px;
    display: inline;
}

.article-main {
    flex: 2;
    margin-right: 4%;
}
.article-main li {
    list-style-type: circle;
    color: red;
}
.contact {
    flex: 1;
    /* min-width: 250px; */
}
.contact ul{
    margin: 0;
    padding: 0;
}
.contact li {
    list-style-type: None;
}
.contact img{
    width: 100%;
    margin: 0;
}
.contact .description{
    display: block;
    text-align: center;
}
.contact .description::after{
    content: '微信扫码';
    font: 10px 黑体;
    color: gray;
}

